<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changepassword</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div><label>Current password:</label></div>
        <div><input type="text" name="currentpassword"></div>
        <div><label>Newpassword:</label></div>
        <div><input type="text" name="newpassword"></div>
        <div><label>Confirm password:</label></div>
        <div><input type="text" name="confirmpassword"></div>
        <div><input type="submit" name="submit" value="Update"></div>
    </form>
</body>
{% if err == 1 %}
<script>
    alert("error in confirm password..!!")
</script>
{% endif %}
{% if err == 2 %}
<script>
    alert("error in current password..!!")
</script>
{% endif %}
{% if err == 3 %}
<script>
    alert("Password Changed..!!")
    window.location='/webuser/Home/'
</script>
{% endif %}
</html>