<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h3>User Complaint Form</h3>
        <div>
            <label>Name:</label>{{complaint.name}}
        </div>
        <div>
            <label>Email:</label>{{complaint.email}}
        </div>
        <div>
            <label>Problem description:</label>
            <textarea name="complaint" cols="20" rows="5"></textarea>
        </div>
        <div>
            <input type="submit" name="submit" value="Enter">
        </div>
    </form>
    <table>
        <tr>
            <th>#</th>
            <th>Complaint</th>
            <th>Reply</th>
        </tr>
        {% for i in complaint %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.description}}</td>
            <td>{{i.reply}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>