<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-viewreport</title>
</head>
<style>
    table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

th:nth-child(1) {
  width: 20%;
}

th:nth-child(2) {
  width: 25%;
}

th:nth-child(3) {
  width: 26%;
}

th:nth-child(4) {
  width: 26%;
}

th:nth-child(5) {
  width: 26%;
}

th:nth-child(6) {
  width: 26%;
}

th,
td {
  padding: 15px;
}
</style>
<body>
    <table>
        <tr>
            <th>#</th>
            <th>Shop Name</th>
            <th>View report</th>
        </tr>
        {% for i in product %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td><a href="{% url 'webadmin:viewreportshop' i.id %}">View Report</a></td>
           
        </tr>
        {% endfor %}
    </table>
</body>
</html>