<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewcomplaint</title>
</head>
<body>
    <h3>User Complaint</h3>
    {% csrf_token %}
    <form action="" method="post"></form>
    <table>
        <tr>
            <th>#</th>
            <th>Complaint</th>
            <th>Date</th>
            <th>Users</th>
            <th>Action</th>
        </tr>
        {% for n in complaint1 %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{n.description}}</td>
            <td>{{n.complaint_date}}</td>
            <td>{{n.user.name}}</td>
            <td><a href="{% url 'webadmin:reply' %}">Give Reply</a></td>
        </tr>
        {% endfor %}
    </table>
    <h3>Shop Complaint</h3>
    <table>
        <tr>
            <th>#</th>
            <th>Complaints</th>
            <th>Date</th>
            <th>Shop</th>
            <th>Action</th>
        </tr>
        {% for o in complaint %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{o.description}}</td>
            <td>{{o.complaint_date}}</td>
            <td>{{o.shop_id.name}}</td>
            <td><a href="{% url 'webadmin:reply' %}">Give Reply</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>